@import './../../utilities/vars.scss'; 
.container {
  max-width: 1140px;
  margin: 0 auto 25px;
  padding: 0 15px;
  display: flex;
}
.openFilter {
  margin-left: 10px;
  min-width: 300px;
  display: flex;
  align-items: center;
  span {
    margin-right: 10px;
  }
  img {
    cursor: pointer;
  }
  @extend %default-font;
  color: #000000;
}
.hidden {
  display: none;
}