@import '../../utilities/vars.scss';
.menuInput {
  display: flex;
  flex-direction: column;
  span {
    @extend %default-font;
    color: #000000;
    margin-bottom: 5px;
  }
  input {
    padding: 10px 20px;
  }
}