.auth {
  width: 100%;
  display: flex;
}
.authImage {
  & img {
    width: 375px;
    height: 375px;
  }
  padding: 50px;
  overflow: hidden;
}
.authContainer {
  padding: 0 15px;
  flex: 0 1 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 920px) {
  .authImage {
    & img {
      width: 150px;
      height: 150px;
    }
    padding: 50px;
    overflow: hidden;
  }
}
@media (max-width: 600px) {
  .authImage {
    display: none;
  }
}